{
  "all": false,
  "cache": false,
  "exclude": [
    "**/__doubles__/**",
    "**/__tests__/**"
  ],
  "excludeNodeModules": true,
  "extension": [".ts"],
  "include": ["src/algorithms"],
  "report-dir": "./coverage",
  "reporter": ["json-summary", "lcov", "text"],
  "skip-full": false,
  "temp-dir": "./coverage/.nyc"
}
